<a href="https://colab.research.google.com/github/xLustosa/freecodecamp/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset Source**
Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/xLustosa/freecodecamp/main/adult.data.csv'
df = pd.read_csv(url)

In [2]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

# 1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [3]:
df_race = df['race'].value_counts()
df_race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# 2. What is the average age of men?

In [4]:
print(round(df[(df['sex'] == "Male")].age.mean(),1))

39.4

# 3. What is the percentage of people who have a Bachelor's degree?

In [5]:
df_edu = df['education'].value_counts()
percent = round((df_edu[df_edu.index =='Bachelors']/df_edu.sum())*100,1)
print(percent[0],'%')

16.4 %

# 4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [6]:
df_sal = pd.DataFrame({'Total':df.groupby('salary').education.value_counts()})
x_more = df_sal.Total.loc[(">50K", "Bachelors")] + df_sal.Total.loc[(">50K", "Masters")] + df_sal.Total.loc[(">50K", "Doctorate")]
x_less = df_sal.Total.loc[("<=50K", "Bachelors")] + df_sal.Total.loc[("<=50K", "Masters")] + df_sal.Total.loc[("<=50K", "Doctorate")]
percent_sal = round((x_more/(x_more + x_less))*100,1)
print(percent_sal,'%')

46.5 %

# 5. What percentage of people without advanced education make more than 50K?

In [7]:
df_w = pd.DataFrame({'Total':df.groupby('salary').education.value_counts()})
total_more = (df_w.Total.loc[(">50K")].sum()) - x_more
total_less = (df_w.Total.loc[("<=50K")].sum()) - x_less
percent_w = round((total_more/(total_more + total_less))*100,1)
print(percent_w,'%')

17.4 %

# 6. What is the minimum number of hours a person works per week?

In [8]:
df['hours-per-week'].min()

1

# 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [9]:
df_hour = df[(df['hours-per-week'] == 1)]
percent_min = round((len(df_hour[(df_hour.salary == '>50K')])/len(df_hour))*100,1)
print(percent_min,'%')

10.0 %

# 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [10]:
df_country= (df.loc[df['salary'] == ">50K", 'native-country'].value_counts() / df['native-country'].value_counts()).fillna(0).sort_values(ascending=False)
highest_country = df_country.index[0]
country_percentage = round(df_country[0]*100,1)

print("Country with highest percentage of rich:", highest_country)
print(f"Highest percentage of rich people in country: {country_percentage}%")

Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%

# 9. Identify the most popular occupation for those who earn >50K in India.

In [11]:
df_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]["occupation"].value_counts().index[0]
df_india

'Prof-specialty'